   <!DOCTYPE html>
   <html lang="en" dir="ltr">
   <head>
    <meta charset="utf-8">
    <title>C Compiler</title>
    </head>
    <body>
    <div style="width:800px; margin:0 auto;">
    <form>
    <label> C Compiler</label>
    <textarea id="codearea" name="codearea" rows="25" cols="100" required></textarea>
    <br>
    <br>
    <div id="output" style="width:600px; height:200px;  background-color: grey;">
    <label id="out"></label></div>
    <br>
    </form>
    <button id="submit" onclick="getData()">Submit</button>
    <button id="get" onclick="getResult()">Get Result</button>
    </div>
    </body>
    <script src="Main.js" type="text/javascript"></script>
    </html>
