.button {
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: red;
  background-color: #161616;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: black; color:red}

.button:active {
  background-color: #161616;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
